* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.header {
    padding: 20px 0;
    background-color: #1f2937;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;

}

.logo {
    font-size: 24px;
    font-weight: 900;
    padding: 0 20px;
}


.links {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0 20px;
}


.hero {
    padding: 100px 0;
    background-color: #1f2937;
    color: white;
}

.hero-container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    gap: 100px;
    border: 1px solid red;
}

.hero-content {
    flex: 1
}

.hero-image {
    width: 500px;
    height: 250px;
    background-color: #6b7280;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    color: #fffbfb;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 24px;
    color: #fffbfb;
}

.hero-content button {
    width: max-content;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: #374151;
}


.info-section {
    text-align: center;
    padding: 60px 20px;
}

.info-section h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
    color: #1f2937;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 2px solid #3b82f6;
    /* azul */
    border-radius: 12px;
}


.card p {
    color: #6b7280;
    /* gris medio */
    line-height: 1.4;
}

.testimonial {
    background-color: #e5e7eb;
    /* gris claro */
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 800px;
}

.quote {
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.6;
    color: #374151;
    /* gris oscuro */
}

.author {
    margin-top: 1rem;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

.suscribe {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
}

.suscribe-banner {
    display: flex;
    align-items: center;
    background-color: #3b82f6;
    padding: 2rem 0rem;
    border-radius: 5px;

}

.suscribe-text {
    color: white;
    padding: 2rem 6rem;
}

.suscribe-text p:first-child {
    font-size: 26px;
    font-weight: 700;
}

.suscribe-text p:nth-of-type(2) {
    color: #c4c7cd;
    margin-top: 4px;
}


.suscribe-button {
    color: white;
    padding: 2rem 6rem;
}

.suscribe-button button {
    background-color: inherit;
    /* azul */
    border: 2px solid white;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.footer {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #1f2937;
}

.footer p {
    color: white;
}